<tr class="account-row" data-account-name="{{ account.object.account_name }}" data-lines='{{ account.lines_json|escapejs }}'>
    <td style="padding-left: {{ level|add:1 }}rem;">{{ account.object.account_name }}</td>
    <td class="text-end">{{ account.debit|floatformat:2 }}</td>
    <td class="text-end">{{ account.credit|floatformat:2 }}</td>
    <td class="text-end">{{ account.balance|floatformat:2 }}</td>
</tr>
{% for child in account.children %}
    {% include "includes/account_row.html" with account=child level=level|add:1 %}
{% endfor %}
