{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Add Trade" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">{% trans "Add New Trade" %}</h5>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">{% trans "Save Trade" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}