{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Record Expense" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">{% trans "Record Expense" %}</h5>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
